<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue简介</title>
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <!-- Directives are prefixed with v- to indicate that they are special attributes provided by Vue. -->
    <div id="app-2">
        <!-- keep this element’s title attribute up-to-date with the message property on the Vue instance -->
        <span v-bind:title="message">Hover your mouse over me for a few seconds to see my dynamically bound title!！</span>
        <p v-bind:title="msg">Hover to see title.</p>
    </div>

    <div id="app-3">
        <!-- we can bind data to not only text and attributes, but also the structure of the DOM -->
        <span v-if="seen">Now you see me.</span>
    </div>

    <div id="app-4">
        <ol>
            <!-- v-for directive can be used for displaying a list of items using the data from an Array -->
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>
            {{message}}
        </p>
        <!-- use the v-on directive to attach event listeners that invoke methods on our Vue instances -->
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>
            {{message}}
        </p>
        <!-- v-model directive that makes two-way binding between form input and app state a breeze -->
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <!-- Now we provide each todo-item with the todo object it's representing, so that its content can be dynamic. -->
            <!-- pass the todo into each repeated component using v-bind -->
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <script src="vue-1-intro.js"></script>
</body>

</html>